includes:
	- phpstan-baseline.neon

parameters:
	level: 9
	paths:
		- src
	scanDirectories:
		- ../../includes
		- ../../tests/phpunit
		- ../../vendor
		- ../../extensions/Wikibase
	excludePaths:
		analyse:
			# TOOD: temporarily ignore this:
			- src/EntryPoints/Rest/GetAllMappingsApi.php
#	ignoreErrors:
#		- '#.+ no value type specified in iterable type .+#'
#		- '#Constant [a-zA-Z0-9\\_]+ not found#'
