parameters:
	ignoreErrors:
		-
			message: "#^Constant WB_NS_ITEM not found\\.$#"
			count: 1
			path: src/EntryPoints/MediaWikiHooks.php

		-
			message: "#^Constant WB_NS_PROPERTY not found\\.$#"
			count: 1
			path: src/EntryPoints/MediaWikiHooks.php

		-
			message: "#^Cannot access offset 'PT\\:url' on mixed\\.$#"
			count: 1
			path: src/WikibaseRdfExtension.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: src/WikibaseRdfExtension.php

		-
			message: "#^Parameter \\#4 \\$availableRights of class Wikibase\\\\Repo\\\\Store\\\\WikiPageEntityStorePermissionChecker constructor expects array\\<string\\>, array given\\.$#"
			count: 1
			path: src/WikibaseRdfExtension.php
